
.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  position: relative;
  background-color: #F2F2F2;
  display: flex;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  margin: 0 0 100px 0;
}

.logo {
  z-index: 3;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  height: 31px;
  width: 154px;
}

.header__title {
  align-self: center;
  margin: 0 0 0 64px;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 3;
}

.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 3;
  margin: 0;
}

.header__link {
  color: #2F80ED;
  text-decoration: none;
}

.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 756px;
  height: 608px;
  z-index: 1;
}

.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
  background-color: #2F80ED;
  z-index: 0;
}

.description {
  display: flex;
  justify-content: center;
}

.two-columns {
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}

.two-columns__brief {
  display: flex;
  align-self: stretch;
  width: 175px;
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2F80ED;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph {
  margin: 0 0 30px 0;
}

.two-columns__paragraph:last-child {
  margin: 0;
}

.two-columns__span-accent {
  font-weight: bold;
}

.digits {
  margin: 100px auto 100px auto;
  width: 1100px;
}

.section-title {
  position: relative;
  text-align: center;
  width: 60%;
  margin: 0 auto 20px auto;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  z-index: 3;
}

.section-subtitle {
  position: relative;
  text-align: center;
  width: 60%;
  margin: 0 auto 0 auto;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  z-index: 3;
}

.table {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  z-index: 3;
}

.table__cell {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin: 60px 0 0 0;
  padding: 0;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  margin: 20px 0 0 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman {
  position: relative;
  background-color: #F2F2F2;
  min-height: 790px;
  padding: 100px 0 0 0;
}

.feynman__title {
  position: relative;
  text-align: center;
  margin: 0 auto 0 auto;
  width: 775px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  z-index: 1;
}

.feynman__subtitle {
  position: relative;
  text-align: center;
  margin: 70px auto auto auto;
  width: fit-content;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 1;
}

.feynman__link {
  position: absolute;
  width: fit-content;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2F80ED;
  text-decoration: none;
  z-index: 1;
}

.feynman__image {
  position: absolute;
  bottom: 0px;
  width: 867px;
  height: 637px;
  z-index: 0;
}

.kaufman {
  color: white;
  background-color: #1F1F1F;
  position: relative;
  z-index: 1;
  overflow: hidden;
  margin: 0;
  padding: 90px 0 90px 0;
}

.section-title__theme_dark {
  position: relative;
  margin: 90px auto 0 auto;
  width: 60%;
  text-align: center;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  z-index: 1;
}

.section-subtitle__theme_dark {
  position: relative;
  margin: 20px auto 0 auto;
  width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  z-index: 1;
}

.table_theme_dark {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto 0 auto;
  width: 1100px;
  z-index: 1;
}

.table__cell_theme_dark {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-top: 80px;
  z-index: 1;
}

.table__heading_theme_dark {
  margin: 0 0 20px 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  z-index: 1;
}

.table__text_theme_dark {
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  z-index: 1;
}

.kaufman__triangle {
  position: absolute;
  right: -124px;
  top: 0;
  width: 636px;
  height: 660px;
  z-index: 0;
}

.footer {
  background-color: #1F1F1F;
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
  min-height: 350px;
  align-content: center;
  padding: 60px 0 40px 0;
  box-sizing: border-box;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 90%;
}

.footer__columns_content_copyright {
  flex-basis: 711px;
}

.logo_place_footer {
  height: 35px;
  width: 183px;
}

.footer__author {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 18px 0 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__columns_content_about {
  flex-direction: column;
  justify-content: flex-start;
  width: fit-content;
}

.footer__column-heading {
  margin: 0 0 20px 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__list {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-link {
  margin-bottom: 10px;
}

.footer__column-link a {
  text-decoration: none;
  color: white;
}

.footer__column-link:last-child {
  margin-bottom: 0;
}

.footer__columns_content_social {
  flex-direction: column;
  justify-content: flex-start;
  width: fit-content;
}

.footer__column_heading {
  margin: 0;
}

.footer__social-icons {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}
