/* * {border: solid red 1px;} */

.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  position: relative;
  border-color: black;
  background-color: #F2F2F2;
  display: flex;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  margin-bottom: 100px;
  /* parameters for the header section */
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  height: 31;
  width: 154px;
}

.header__title {
  display: flex;
  align-self: center;
  margin-left: 64px;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
}

.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
  height: fit-content;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__subtitle__link {
  color: #2F80ED;
  text-decoration: none;
}

.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 756px;
  height: 608px;
  z-index: 1;
}

/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
  background-color: #2F80ED;
  z-index: 0;
}

.description {
  border-color: black;
  display: flex;
  justify-content: center;
}

.description__two-columns {
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}

.description__two-columns__brief {
  display: flex;
  align-self: stretch;
  width: 175px;
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2F80ED;
}

.description__two-columns__main-text {
  width: 80%;
  min-width: 784px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.description__two-columns__main-text__paragraph {
  margin: 0 0 30px 0;
}

.description__two-columns__main-text__paragraph:nth-of-type(3) {
  margin: 0;
}

.span-accent {
  font-weight: bold;
}

.digits {
  border-color: black;
  padding: 0;
  margin: 100px auto 100px auto;
  width: 1100px;
}

.digits__title {
  display: flex;
  justify-content: center;
  width: 60%;
  margin: 0 auto 20px auto;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
}

.digits__subtitle {
  display: flex;
  justify-content: center;
  width: 60%;
  margin: 0 auto 60px auto;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.digits__table {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.digits__table__cell {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin: 0 0 60px 0;
}

.b {
  margin-bottom: 0;
}

.table__cell__heading {
  margin: 0 0 20px 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__cell__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table__cell__text__bottom {
  margin: 20px 0 0 0;
}

/* including elements with key-value modifiers */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.feynman {
  position: relative;
  border-color: black;
  background-color: #F2F2F2;
  height: 790px;
  padding: 0;
}

.feynman__title {
  position: relative;
  text-align: center;
  margin: 100px auto 0 auto;
  width: 775px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  z-index: 1;
}

.feynman__subtitle {
  position: relative;
  text-align: center;
  margin: 70px auto auto auto;
  width: fit-content;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 1;
}

.feynman__link {
  position: absolute;
  width: fit-content;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2F80ED;
  text-decoration: none;
  z-index: 1;
}

.feynman__image {
  position: absolute;
  bottom: 0px;
  width: 867px;
  height: 637px;
  z-index: 0;
}

.kaufman {
  border-color: white;
  color: white;
  background-color: #1F1F1F;
  position: relative;
  z-index: 1;
  overflow: hidden;
  margin: 0;
}

.kaufman__title__theme_dark {
  position: relative;
  margin: 90px auto 0 auto;
  width: 60%;
  text-align: center;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  z-index: 1;
}

.kaufman__subtitle__theme_dark {
  position: relative;
  margin: 20px auto 0 auto;
  width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  z-index: 1;
}

.kaufman__table__theme_dark {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto 90px auto;
  width: 1100px;
  z-index: 1;
}

.kaufman__table__cell__theme_dark {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-top: 80px;
  z-index: 1;
}

.kaufman__table__cell__heading__theme_dark {
  margin: 0 0 20px 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  z-index: 1;
}

.kaufman__table__cell__text__theme_dark {
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  z-index: 1;
}

.kaufman__triangle {
  position: absolute;
  right: -124px;
  top: 0;
  width: 636px;
  height: 660px;
  z-index: 0;
}

.footer {
  background-color: #1F1F1F;
  position: relative;
  color: white;
  border-color: white;
  min-height: 350px;
  padding: 60px 0 40px 0;
}

.footer__columns {
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  height: 200px;
}

.footer__columns__content_copyright {
  display: flex;
  flex-direction: column;
  flex-basis: 711px;
  justify-content: space-between;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
}

.footer__author {
  margin-top: 18px;
  margin-bottom: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__columns__content_about {
  display: flex;
  flex-direction: column;
}

.footer__column-heading {
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__column-link {
  text-decoration: none;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__social-icons {
  margin: 0 10px 0 0;
}
